LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "resetn" SITE "G2";
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;

LOCATE COMP "button" SITE "P4";
IOBUF PORT "button" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "A12";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "B19";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "A18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

