LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "A13";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

LOCATE COMP "buttonBright" SITE "P4";
IOBUF PORT "buttonBright" IO_TYPE=LVCMOS33;

LOCATE COMP "buttonDim" SITE "G2";
IOBUF PORT "buttonDim" IO_TYPE=LVCMOS33;
