.device LFE5UM5G-85F

.comment Part: LFE5UM5G-85F-8CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R10C73:CIB_DSP
arc: N3_V06N0103 S3_V06N0003

.tile CIB_R1C63:CIB
arc: E3_H06E0003 JQ0

.tile CIB_R1C69:CIB
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R1C75:CIB
arc: E1_H02E0501 V01N0101
arc: S1_V02S0301 W3_H06E0003

.tile CIB_R1C77:CIB
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R22C73:CIB_EBR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R34C73:CIB_DSP
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R46C73:CIB_EBR
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R58C73:CIB_DSP
arc: N3_V06N0103 S3_V06N0003

.tile CIB_R5C125:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C73:CIB_EBR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R82C73:CIB_EBR
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R94C123:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C13:CIB
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R94C19:CIB
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R94C1:CIB_LR_S
arc: E3_H06E0303 JQ5

.tile CIB_R94C25:CIB
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R94C31:CIB
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R94C37:CIB
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R94C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C43:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R94C46:CIB_DCU0
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C47:CIB_DCUA
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C48:CIB_DCUB
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C49:CIB_DCUC
arc: E3_H06E0203 W3_H06E0203
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C50:CIB_DCUD
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C51:CIB_DCUF
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C52:CIB_DCU3
unknown: F20B10
unknown: F22B10
unknown: F23B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C53:CIB_DCU2
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C54:CIB_DCUG
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C55:CIB_DCUH
arc: E3_H06E0203 W3_H06E0203
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C56:CIB_DCUI
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C57:CIB_DCU1
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10

.tile CIB_R94C61:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R94C67:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R94C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C71:CIB_DCU0
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C72:CIB_DCUA
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C73:CIB_DCUB
arc: N3_V06N0203 W3_H06E0203
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C74:CIB_DCUC
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C75:CIB_DCUD
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C76:CIB_DCUF
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C77:CIB_DCU3
unknown: F20B10
unknown: F22B10
unknown: F23B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C78:CIB_DCU2
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C79:CIB_DCUG
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C7:CIB_EFB1
arc: E3_H06E0003 W3_H06E0303
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R94C80:CIB_DCUH
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C81:CIB_DCUI
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C82:CIB_DCU1
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10

.tile MIB_R0C123:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R0C63:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R0C77:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C63:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C77:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R22C67:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R22C68:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R70C67:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R70C68:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R93C0:PICL1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON

.tile MIB_R94C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R95C101:PICB0
unknown: F0B1

.tile MIB_R95C102:PICB1
unknown: F0B1

.tile MIB_R95C103:PICB0
unknown: F0B1

.tile MIB_R95C104:PICB1
unknown: F0B1

.tile MIB_R95C105:PICB0
unknown: F0B1

.tile MIB_R95C106:PICB1
unknown: F0B1

.tile MIB_R95C107:PICB0
unknown: F0B1

.tile MIB_R95C108:PICB1
unknown: F0B1

.tile MIB_R95C110:PICB0
unknown: F0B1

.tile MIB_R95C111:PICB1
unknown: F0B1

.tile MIB_R95C112:PICB0
unknown: F0B1

.tile MIB_R95C113:PICB1
unknown: F0B1

.tile MIB_R95C114:PICB0
unknown: F0B1

.tile MIB_R95C115:PICB1
unknown: F0B1

.tile MIB_R95C116:PICB0
unknown: F0B1

.tile MIB_R95C117:PICB1
unknown: F0B1

.tile MIB_R95C119:PICB0
unknown: F0B1

.tile MIB_R95C120:PICB1
unknown: F0B1

.tile MIB_R95C121:PICB0
unknown: F0B1

.tile MIB_R95C122:PICB1
unknown: F0B1

.tile MIB_R95C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R95C96:PICB0
unknown: F0B1

.tile MIB_R95C97:PICB1
unknown: F0B1

.tile MIB_R95C98:PICB0
unknown: F0B1

.tile MIB_R95C99:PICB1
unknown: F0B1

.tile R16C73:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R19C60:PLC2
word: SLICED.K0.INIT 0000000000000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1

.tile R28C73:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R2C73:PLC2
arc: E1_H02E0201 S1_V02N0201

.tile R2C74:PLC2
arc: V00T0000 H02E0201
arc: V00T0100 H02W0301
arc: B1 V00T0000
arc: CLK1 V00T0100
arc: D1 V01S0100
arc: E1_H02E0101 F1
arc: F1 F1_SLICE
arc: M2 V00T0000
arc: MUXCLK1 CLK1
arc: V01S0100 Q2
word: SLICEA.K1.INIT 0000000011001100
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK1.CLKMUX CLK
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1

.tile R2C75:PLC2
arc: V00B0100 V02S0301
arc: W1_H02W0301 V02S0301
arc: CE0 H02E0101
arc: CLK0 V00B0100
arc: D0 Q0
arc: F0 F0_SLICE
arc: MUXCLK0 CLK0
arc: N1_V01N0101 Q0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R40C73:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R4C73:PLC2
arc: N1_V02N0201 S3_V06N0103

.tile R52C73:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R64C73:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R76C73:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R88C73:PLC2
arc: N3_V06N0203 S3_V06N0203

